*.apk
*.ap_
*.aab

*.dex

*.class
bin/
gen/
out/
release/

.gradle/

proguard/

*.log

captures/

*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/dictionaries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/tasks.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

.navigation/

*.jks
*.keystore

google-services.json

vcs.xml

lint/intermediates/
lint/generated
lint/outputs/
lint/tmp/
lint/reports
